.main {
    background-color: rgb(242, 242, 236);
    padding: 50px 20px;
    text-align: center;
    font-weight: 600 ;
}

.names {
    font-weight: 600;
}

.character, .favorites {
    text-transform: uppercase;
    animation-duration: 3s;
    animation-name: slidein;
    margin: 40px;
    font-family: $font-titles;
    font-size: 30px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.js_character-list {
    border: 2px solid blue;
    padding: 20px;
    cursor: pointer;
}

.js_ul_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.js_character-list.favorite {
    background-color:yellow;
    color: red;
    width: 300px;
    margin: 30px;
}

.js_favorites-section.show {
    transform: translateX(0);
}


.hidden-section {
    display: none;
}