.main {
    background-color: rgb(242, 242, 236);
    padding: 50px 20px;
    text-align: center;
}

.js_character-list {
    border: 2px solid blue;
    padding: 20px;
    cursor: pointer;
}

.js_ul_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.js_ul_favlist {
    background-color: red;
    color: yellow;
}
.js_character-list.favorite {
    background-color:yellow;
    color: red;
}

.js_favorites-section.show {
    transform: translateX(0);
}